{% extends 'base.html.twig' %}

{% block title %}Adoptoutou - Donations{% endblock %}

{% block body %}


{% for donation in donations %}

<h2> Donateur : Récupérer le nom du donateur </h2>

<p> {{ donation.user }} </p>

<p> Montant : {{ donation.amount }}€ </p>
<p> Date : {{ donation.date|date('d-m-Y H:i:s') }} </p>

<hr>
{% endfor %}
</div>
{% endblock %}
