{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
{% if not app.user %}
                    <li class="nav-item">
                            <a href="{{ path('security_login') }}">Connexion</a>
                        </li>
{% else %}
                    <li class="nav-item">
                            <a hre="{{ path('security_logout') }}">Deconnexion</a>
                        </li>
{% endif %}
{% endblock %}