{% extends 'base.html.twig' %}

{% block title %}Hello BlogController!{% endblock %}

{% block body %}

{% for post in posts %}

<h5> {{ post.title }} </h5>

<p> {{ post.user }} </p>

<p> {{ post.description }} </p>

<hr>

{% endfor %}
</div>
{% endblock %}
